<footer class="site-footer">
  <div class="container flow">
    
    <img 
      src="../assets/images/logo.jpg" 
      alt="thinIceproject Logo" 
      class="logo" 
      width="128" 
      height="30" 
      style="margin-inline: auto;" 
    />

<p>
      David Richardson and SUNY New Paltz ThinIceProject.
</p>


    
  </div>
</footer>