---
title: My homepage
layout: 'base.njk'
---
 <!-- landingsection Section -->     
<section class="landingSection hero-overlay" style="background-image: url('{{ homePage.hero.heroImage | url }}');">
    {# The image URL is now injected via the style attribute above #}
    <div class="container flow">
        <div class="landingSection__content flow">
            
            {# Primary Title #}
            <h1 class="section-title landingSection__title">
                {{ homePage.hero.title }}
            </h1>
            
            {# Secondary Text / Introduction #}
            <p class="landingSection__intro">
                {{ homePage.hero.introduction | markdown | safe }}
            </p> 
                        
        </div>
    </div>
    <a href="#featured-articles" class="landingSection__more">See more research ⬇</a>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    
    <h2 class="section-title text-center">{{ homePage.featuredSection.title }}</h2>
    <p class="text-center">{{ homePage.featuredSection.description | markdown | safe }}</p>
    
    <ul role="list" class="articles__list flow">

      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor %} 
    
    </ul>
  </div>
</section>
