---
title: testing new page
layout: 'base.njk'
---
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Testing New Page</h1>
         
        <p>This is a test page for new content.</p>
         
        <p>We are experimenting with new layouts and designs.</p>
         
        <div class="flex-group">
          <a href="/" class="btn btn--primary">Go to Homepage</a>
        </div>
      </div>
      <div>
        <img src="/images/test-image.jpg" alt="Test Image" class="hero__image">
      </div>
  </div>