---
title: testing new page
layout: 'base.njk'
---
<section class="publications-section" id="publications">
    <div class="container flow">
        
        <h2 class="section-title">{{ publications.publicationsSection.title }}</h2>
        
        <div class="flow" style="margin-top: 1.5rem;">
        
            {{ publications.publicationsSection.content | markdown | safe }}

        </div>
        
    </div>
</section>