---
title: Recent Articles
layout: 'base.njk'
---
<!-- title changes the title tag in the base.njk -->
<!-- getting template from base.njk(header and footer)-->
       
<div class="section container">
<h1 class="section-title">Recent activites of thinIceProject</h1>

<ul role="list" class="articles__list flow">
<!-- looping through all posts in the collection 'post' defined in .eleventy.js -->
  {%- for post in collections.post | reverse -%}
    <!-- including the article-snippet.njk template for each post -->
    {% include 'article-snippet.njk' %}
  {%- endfor %} 
 
</ul>

</div>
